.footer {
  height: 250px;
  background-color: rgb(80, 182, 185);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h1 {
  margin-top: 20px;
  font-size: 75px;
  color: white;
}

.footer p {
  color: white;
  display: flex;    
}
